body { 
	background-image:url("/static/blue=polka-dot.jpg");
	color:DimGrey;
} 
  
#nav { 
	width:920px; 
	padding:5px; 
	margin:20px; 
	margin-left:auto; 
	margin-right:auto; 
	background-color:white; 
	opacity:0.95; 
} 
  
#nav ul { 
	list-style-type: none; 
	margin-left:auto; 
	margin-right:auto; 
	padding: 0;
	 
} 
  
#nav li { 
	display: inline; 
	margin-left:auto; 
	margin-right:auto; 
} 
  
#nav a:link,a:visited { 
	font-weight:bold; 
	color:grey; 
	background-color:white; 
	opacity:0.95; 
	text-align:center; 
	padding:15px; 
	text-decoration:none; 
	text-transform:uppercase; 
} 
  
#nav a:hover,a:active { 
	background-color:grey; 
	color:white; 
} 

#content a:link,a:visited {
        font-weight:bold;
        color:DimGrey;
        text-align:center;
        text-decoration:none;
}

#content a:hover,a:active {
        text-decoration:underline;
}
  
#content { 
	width:820px; 
	padding:55px; 
	margin:20px; 
	margin-left:auto; 
	margin-right:auto; 
	background-color:white; 
	opacity:0.95;
	min-height:475px; 
} 
  
#content p { 